.header {
    display: flex;




    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 55px;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    z-index: 100;


}

/* .first-section */

.first-section {


    display: flex;
    align-items: center;
}

.youtube-logo {
    height: 20px;

}

.hamburger-menu {
    height: 20px;
    margin-left: 24px;
    margin-right: 20px;


}



/* middle-section */
.middle-section {
    flex: 1;

    margin-right: 35px;
    margin-left: 70px;
    max-width: 500px;
    display: flex;
    align-items: center;


}

.input-bar {
    flex: 1;
    height: 36px;
    border-radius: 3px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);

    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}



.input-bar::placeholder {
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: solid;
    border-color: blueviolet;
}

.search-button {
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;


    cursor: pointer;

}

.search-icon {
    height: 24px;


}

.search-button,
.voice-button,
.upload-div,
.youtube-div,
.notification-div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-button:hover .tool-tipss,
.voice-button:hover .tool-tipss,
.upload-div:hover .tool-tipss,
.youtube-div:hover .tool-tipss,
.notification-div:hover .tool-tipss,
.channel-div:hover .tool-tipss {


    opacity: 1;
}

.tool-tipss {
    background-color: rgb(96, 91, 91);
    color: rgb(255, 255, 255);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    position: absolute;
    border-radius: 2px;
    font-size: 14px;
    bottom: -45px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;





}


.voice-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;


}

.mic-icon {
    height: 24px;

}

/* third-section */

.end-section {
    width: 180px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;



}





.upload {
    height: 24px;


}

.upload-div {
    position: relative;

}



.youtube-app {
    height: 24px;
}

.notification-div {
    /* background-color: blueviolet; */
    position: relative;


}

.notification {
    height: 24px;
    /* background-color: aquamarine; */

}

.notify-count {
    position: absolute;
    top: -2px;
    right: -5px;

    background-color: rgb(200, 0, 0);
    font-size: 11px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;

}


.channel-icon {
    height: 31px;
    border-radius: 16px;
    width: 31px;
    object-fit: cover;
    object-position: 12px 12px, 42px, 22px;
}