.sidebar {
    background-color: white;
    position: fixed;

    bottom: 0px;
    left: 0px;
    top: 55px;
    width: 72px;
    z-index: 200;
    padding-top: 5px;




}

.sidebar-container {


    height: 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sidebar-container:hover {
    background-color: rgb(235, 235, 235);

}

.sidebar-container img {
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-container div {
    font-size: 10px;

}